[package]
name = "tg-tui"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossterm = {version = "0.27.0", features = ["event-stream"]}
futures = "0.3.30"
ratatui = "0.26.1"
signal-hook = "0.3.17"
tokio = {version = "1.36.0", features = ["full"]}
