# The core_window key bindings are usable in any app component.
[core_window]
keymap = [
  # Quit the application, example of multiple keys
  # { keys = ["w", "w"], command = "quit", description = "Quit the application"},

  # Quit the application
  # Note that when the prompt is focused, the "q" key will be used to type the letter "q".
  { keys = ["q"], command = "try_quit", description = "Quit the application"},
  # Quit the application
  { keys = ["ctrl+c"], command = "try_quit", description = "Quit the application"},
  # Focus the chat list
  { keys = ["alt+1"], command = "focus_chat_list", description = "Focus the chat list"},
  { keys = ["alt+left"], command = "focus_chat_list", description = "Focus the chat list"},
  # Focus the chat
  { keys = ["alt+2"], command = "focus_chat", description = "Focus the chat"},
  { keys = ["alt+right"], command = "focus_chat", description = "Focus the chat"},
  # Focus the prompt
  { keys = ["alt+3"], command = "focus_prompt", description = "Focus the prompt"},
  { keys = ["alt+down"], command = "focus_prompt", description = "Focus the prompt"},
  # Unfocus the current component
  { keys = ["esc"], command = "unfocus_component", description = "Unfocus the current component"},
  { keys = ["alt+up"], command = "unfocus_component", description = "Unfocus the current component"},
  # Toggle chat_list visibility
  { keys = ["alt+n"], command = "toggle_chat_list", description = "Toggle chat_list visibility"},
  # Increase the chat list size
  { keys = ["alt+l"], command = "increase_chat_list_size", description = "Increase the chat list size"},
  # Decrease the chat list size
  { keys = ["alt+h"], command = "decrease_chat_list_size", description = "Decrease the chat list size"},
  # Increase the prompt size
  { keys = ["alt+k"], command = "increase_prompt_size", description = "Increase the prompt size"},
  # Decrease the prompt size
  { keys = ["alt+j"], command = "decrease_prompt_size", description = "Decrease the prompt size"},
  # Start chat list search (when nothing is selected)
  { keys = ["alt+r"], command = "chat_list_search", description = "Start searching chats"},
  # Show command guide with keybindings
  { keys = ["alt+f1"], command = "show_command_guide", description = "Show command guide with all keybindings"},
  # Show theme selector
  { keys = ["alt+t"], command = "show_theme_selector", description = "Show theme selector"},
]

# The chat_list key bindings are only usable in the chat list component.
# When the chat list is focused, the chat list key bindings will be active.
[chat_list]
keymap = [
  # Select the next chat
  { keys = ["down"], command = "chat_list_next", description = "Select the next chat"},
  # Select the previous chat
  { keys = ["up"], command = "chat_list_previous", description = "Select the previous chat"},
  # Unselect the current chat
  { keys = ["left"], command = "chat_list_unselect", description = "Unselect the current chat"},
  # Open the selected chat
  { keys = ["right"], command = "chat_list_open", description = "Open the selected chat"},
  # Open the selected chat
  { keys = ["enter"], command = "chat_list_open", description = "Open the selected chat"},
  # Move focus to the prompt and set its state to receive a string used to order the entries in the chat list window.
  { keys = ["alt+r"], command = "chat_list_search", description = "Focus on prompt to start searching"},
  # Restore the default sorting in the chat list window.
  { keys = ["alt+c"], command = "chat_list_restore_sort", description = "Restore the default ordering of the chat list"},
]

# The chat key bindings are only usable in the chat component.
# When the chat is focused, the chat key bindings will be active.
[chat]
keymap = [
  # Select the next message
  { keys = ["down"], command = "chat_window_next", description = "Select the next message"},
  # Select the previous message
  { keys = ["up"], command = "chat_window_previous", description = "Select the previous message"},
  # Unselect the current message
  { keys = ["left"], command = "chat_window_unselect", description = "Unselect the current message"},
  # Delete the selected message for all users
  { keys = ["d"], command = "chat_window_delete_for_everyone", description = "Delete the selected message for all users"},
  # Delete the selected message for "me"
  { keys = ["D"], command = "chat_window_delete_for_me", description = "Delete the selected message for 'me'"},
  # Copy the selected message
  { keys = ["y"], command = "chat_window_copy", description = "Copy the selected message"},
  # Copy the selected message
  { keys = ["ctrl+c"], command = "chat_window_copy", description = "Copy the selected message"},
  # Edit the selected message
  { keys = ["e"], command = "chat_window_edit", description = "Edit the selected message"},
  # Reply to the selected message
  { keys = ["r"], command = "chat_window_reply", description = "Reply to the selected message"},
  # Move focus to the prompt and set its state to search messages in the chat window.
  { keys = ["alt+r"], command = "chat_window_search", description = "Focus on prompt to start searching messages"},
  # Restore the default message ordering in the chat window.
  { keys = ["alt+c"], command = "chat_window_restore_sort", description = "Restore the default ordering of messages"},
]

# The prompt key bindings are only usable in the prompt component.
# When the prompt is focused, the prompt key bindings will be active.
[prompt]
keymap = []

