name: CD

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  REPO: ${{ github.repository }}

jobs:
  release_github:
    runs-on: ubuntu-latest
    steps:
      - name: Create release
        run: gh release create ${{ github.ref_name }} -R $REPO --generate-notes

  release_crates:
    runs-on: ubuntu-latest
    needs: release_github
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Publish to crates.io
        run: |
          cargo login ${{ secrets.CRATES_IO_TOKEN }}
          cargo publish --package tgt

# --no-verify
